@import url("https://fonts.googleapis.com/css2?family=Vazirmatn:wght@500&display=swap");

* {
  font-family: "Vazirmatn", sans-serif;
  user-select: none;
}

body {
  background-color: white;
  margin: 0;
  padding: 10px;
  text-align: center;
}

#question {
  position: relative;
  top: 70px;
  bottom: 0;
  left: 0;
  transform: translate(-50%, -50%);
  color: white;
  transform: scale(0.9);
  padding: 10px;
  background-color: #14a093;
  border-radius: 20px;
  font-size: 24px;
  text-align: center;
}

#choices {
  position: relative;
  transform: translate(0, 15%);
  font-weight: bolder;
  border: thick double #14a093;
  border-radius: 15px;
  color: #143d43;
  padding-left: 0;
  padding-right: 0;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: start;
  font-size: 18px;
  margin-top: 50px;
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-row-gap: 80px;
  direction: rtl;
}

label {
  word-wrap: break-word;
}

#choices input[type="radio"] {
  margin-top: -7px;
}

/* #submit {
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0px auto;
  width: 50%;
  height: 8%;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #14a093;
  border: none;
  border-radius: 25px;
  cursor: pointer;
} */

/* #submit:hover {
  background-color: #143d43;
  outline: none;
} */

#score {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -80px);
  margin-top: 10px;
  width: 280px;
  font-size: 24px;
  font-weight: bold;
  color: #143d43;
  text-align: center;
}

input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  margin-right: 10px;
  background-color: white;
  border: 3px solid #14a093;
}

input[type="radio"]:checked {
  background-color: #14a093;
  border-color: #143d43;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;
}

#timer {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
  position: relative;
  margin: 0 auto;
  top: 125px;
  left: 0%;
  border-radius: 15px;
  font-size: 18px;
  font-weight: bolder;
  width: 50px;
  height: 30px;
  background-color: white;
  color: #143d43;
  border: 3px solid #14a093;
}

#head-name {
  max-width: 150px;
  position: absolute;
  bottom: 0;
  transform: translate(-50%);
}
