@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@500&display=swap');

* {
    font-family: 'Vazirmatn', sans-serif;
    user-select: none;
}

body {
    background-color: #a2c0a2;
}

.start {
    text-align: center;
    padding-top: 110px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0);
}

.start input {
    border-color: rgb(5, 85, 5);
    border-width: 2px;
    outline: none;
    text-align: center;
    border-radius: 5px;
}

.start button {
    text-align: center;
    margin: 50px;
    width: 150px;
    outline: none;
    transform: scale(2);
    border: none;
    border-radius: 5px;
    height: 30px;
    background-color: rgb(5, 85, 5);
    color: white;
}

.start h1 {
    font-size: 20px;
}


body header {
    display: flex;
    justify-content: center;
    padding-bottom: 25px;
}

header img {
    max-width: 250px;
}

.info {
    color: white;
    text-align: center;
    background-color: rgb(5, 85, 5);
    border-radius: 15px;
    font-size: 10px;
}
.info h1 {
    padding-top: 15px;
    font-size: 16px;
    font-weight: 100;
}

.info hr {
    height: 2px;
    width: 70%;
    background-color: white;
    border: none;
    outline: none;
    border-radius: 15px;
}

li {
    padding-left: 4%;
    padding-right: 5%;
    padding-bottom: 2%;
    direction: rtl;
    text-align: right;
}

