@import url("https://fonts.googleapis.com/css2?family=Readex+Pro&display=swap");

* {
  font-family: "Readex Pro", sans-serif;
  user-select: none;
}

body {
  background-color: white;
}

.start {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
}

.start input {
  color: #3f3359;
  border-color: #3f3359;
  border-width: 3px;
  border: thick double #3f3359;
  outline: none;
  text-align: center;
  border-radius: 5px;
}

.start button {
  text-align: center;
  margin: 50px;
  width: 150px;
  outline: none;
  transform: scale(2);
  border: 1px dashed #3f3359;
  border-radius: 5px;
  height: 30px;
  background-color: #bf912e;
  color: #3f3359;
}

.start button:hover {
  background-color: #3f3359;
  border: 1px dashed #bf912e;
  color: #bf912e;
}

.start h1 {
  color: #3f3359;
  font-size: 20px;
}

body header {
  display: flex;
  justify-content: center;
  margin: 0;
}

header img {
  max-width: 250px;
  transform: scale(0.6);
}

.head {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  left: 50%;
  top: -50px;
  transform: translate(-50%);
  border: thick double #3f3359;
  border-radius: 25px;
}

.head img {
  max-width: 190px;
}

.head .quran {
  margin-top: -40px;
}

.tjm3 {
  position: absolute;
  bottom: 0;
  left: 5px;
}

.tjm3 img {
  max-width: 30px;
}

.center {
  border-radius: 25px;
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.center p {
  color: #3f3359;
  font-weight: 500;
  text-align: center;
  line-height: 30px;
  font-size: 18px;
}

.center .p2 {
  font-weight: bold;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;
}

.hidden {
  display: none;
}
